<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script type="text/javascript" src="../js/index.js"></script> -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <title>Login</title>
    
</head>
<body>
 
<div>
        <input type="text" id= "name" placeholder="Ingresa tu nombre">
        <input type="text" id= "email" placeholder="&#128272; Crea tu email de usuario">
        <input type="password" id="password" placeholder="&#128272; Crea tu clave">
        <input type="submit" id="create" value= "Crear cuenta"> 
</div>
<script src="../js/credential.js"></script>
<script type="text/javascript" src="../js/formularioRegistro.js"></script>
    
</body>
</html>
