<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD TASK</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  
  <body>
    <div class="container">
      <div clas="row">
        Bienvenido <label for="" id="user-name"></label>
      </div>
      <p>
        <label for="new-task">Ingresa comentario:</label>
        <input id="new-task" type="text">
        <button>Add</button>
      </p>
      <h2>COMENTARIOS:</h2>
      <div id="incomplete-tasks">
        <!-- <li>
          <input type="checkbox">
          <label>Quidditch Practice</label>
          <input type="text">
          <button class="edit">Edit &#9998;</button>
          <button class="delete">Delete &#x1F5D1;</button>
        </li>
        <li class="editMode">
          <input type="checkbox">
          <label>Go Wand Shopping</label>
          <input type="text" value="Go Wand Shopping">
          <button class="edit">Save&#128190;</button>
          <button class="delete">Delete &#x1F5D1;</button>
        </li> -->

      </div>

      <h3>Completed</h3>
      <div id="completed-tasks">
        <div>
          <input type="checkbox" checked>
          <label>Coments</label>
          <input type="text">
          <button class="edit">Edit</button>
          <button class="delete">Delete</button>
        </div>
      </div>
    </div>
    <div>
      <button id="close">Cerrar Sesion</button>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="../js/credential.js"></script>
    <script src="../js/appView1.js"></script>
  </body>
</html>
