2<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comentarios</title>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
</head>
<body>
    <h2>Bienvenidx</h2>
    <div class="coments-container">
        <h1>Comentarios</h1>
        <ul id="coments-list" class="coments-list">
            <li>
                <div class="coments-main-level">
                    <!-- Contenedor de comentarios -->
                    <div class="coment-box">
                        <div class="coment-head">
                         <h6 class="coments-name"></h6>
                         <div class= "commenter-principal"><input type="text" placeholder="Ingresa tu comentario"></p>
                         <i class="fa-fa-reply"></i>
                         <i class = "fa-fa-heart"></i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</body>
</html>
