<!-- <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script type="text/javascript" src="../js/index.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <title>Login</title> -->
<!--     
</head>
<!-- Página secundaria donde se crea la cuenta  --> 
<!-- <body>
    <h2>Crear cuenta.</h2>
<div class="logout"> -->
        
        <!-- <div class="login">
                 <input type="text" id= "user" name placeholder="Ingresa tu nombre">
                 <input type="text" id= "email" placeholder="&#128272; Ingresa tu email">
                 <input type="password" id="password" placeholder="&#128272; Crea tu clave">
                 <input type="submit" id="account" value= "Crear cuenta">
        
</div>
<script type="text/javascript" src="../js/index.js"></script> --> -->

<!--     
</body>
</html> --> 