/* Estilo de Login */

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 0.8rem;
}

body{
   /* background-color: rgb(250, 253, 49); */
   display: flex;
   min-height: 100vh;
   }

/* input{
    max-width: 100%;
    min-width: 100% ;
    padding: 10px;
    margin: 10px;
    display: block;
    font-size: 20px;
    
} */

/* Estilo de caja de comentarios */
div.coments{
    padding: 0;
    margin: 0;
    width: 50%;
    max-width: 500px;
    border: 10px solid green;
    text-align: center;
}

/* ESTILOS PARA BOOTSTRAP DE NANCY */

.background-image{
    background-image: url('imagen/imagen2.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
}

/* .form-group {
    background-color: aquamarine
} */

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: red;
    background-color: #ffffff;

    background-clip: padding-box;
    border: 1px solid pink;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.general-container{
    background-color: bisque;
}

/* .form-group {
    background-color: aquamarine;
} */

.row .col.s12 {
    margin-top: 0.3rem!important;
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .button.col.s12 {
    margin-top: 0.3rem!important;
}

.nav-wrapper {
    position: relative;
    height: 100%

    background-color: bisque;
}

nav {
    background-color: bisque;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-align: center;
    text-align-last: center;
}

.center, .center-align {
    text-align: center;
}


.mt-4, .my-4 {
    margin-top: 1rem!important;
}
