*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
   background-color: rgb(250, 253, 49);
   display: flex;
   min-height: 100vh;
   }
div{
    margin: auto;
    width: 50%;
    height: 500%;
    max-width: 500px;
    background-color: rgb(230, 25, 145);
    padding: 100px;
    border: 10px solid rgba(14, 10, 27, 0.2) 
    
}
input{
    padding: 10px;
    margin: 10px;
    display: block;
    width: 100%;
    font-size: 20px;
    height: 100%;
}

